<div class="home">
	<div class="row teaser">
		<div class="span8">
			<h1>Share your tasks with the world.</h1>
			<p>
				Create your portfolio in seconds and fill<br />
				it with all the amazing things you do.
			</p>
			<a href="#" class="btn btn-signup">Sign up now!</a>
		</div>
		<div class="span4">
			<img src="/img/logo.png">
		</div>
	</div>
</div>